

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
 
  button {
    padding: 10px 20px;
    
    margin-bottom: 20px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
    text-align: left;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  .user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .add-btn {
    background-color: #28a745;
  }
  
  .open-btn {
    background-color: #17a2b8;
  }
  
  .add-btn, .open-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn:hover, .open-btn:hover {
    background-color: #218838;
  }
  